.profileContainer {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editProfileForm {
  margin: 30px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userNameInput {
  height: 20px;
  width: 200px;
  padding: 5px;
  font-size: medium;
  font-weight: bold;
  color: darkgray;
  border: none;
}

.userNameInput:focus {
  outline: none;
}

.submitNewUserName {
  height: 30px;
  width: 210px;
  padding: 5px;
  margin-top: 30px;
  background-color: #1da1f2;
  color: white;
  font-size: medium;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition-duration: 0.2s;
}

.submitNewUserName:hover {
  background-color: rgba(29, 161, 242, 0.8);
}

.logOut {
  height: 30px;
  width: 210px;
  padding: 5px;
  background-color: #ea4335;
  color: white;
  font-size: medium;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition-duration: 0.2s;
}
.logOut:hover {
  background-color: rgba(234, 67, 53, 0.8);
}

.submitNewUserName:focus,
.logOut:focus {
  outline: none;
}

.myDwitteContainer {
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
